<h1>Tournament Information</h1>

<% if current_user == @tournament.contest.user and current_user.contest_creator %>
    <%= link_to 'edit', edit_tournament_path(@tournament) %>
<% end %>

<br/>
<p>Name: <%= @tournament.name %></p>
<% if @tournament.status == "completed" %>
    <p>Finished: <%= distance_of_time_in_words_to_now(@tournament.start) %></p>
<% else %>
    <p>Start: <%= distance_of_time_in_words_to_now(@tournament.start) %></p>
<% end %>
<p>Status: <%= @tournament.status %></p>
<p>Tournament type: <%= @tournament.tournament_type %></p>
<p>Contest: <%= link_to @tournament.contest.name, @tournament.contest %></p>

<p>Contest owner: <%= link_to @tournament.contest.user.username, @tournament.contest.user %></p>
<p>Referee: <%= link_to @tournament.referee.name, @tournament.referee %></p>
<h2><%= pluralize(@tournament.players.count, 'Player') %></h2>

<div class="table table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th>Place</th>
				<th>Player</th>
				<th>Wins</th>
				<th>Losses</th>
			</tr>
		</thead>
		<tbody>
			<% @tournament.players.each do |player|
					 @win_count = PlayerMatch.where(player: player,
			   		 match: Match.where(manager: @tournament),
			   		 result: "Win").count 

 						@loss_count = PlayerMatch.where(player: player,
			   			 match: Match.where(manager: @tournament),
			    		result: "Loss").count 
			%>
			<tr>
				<td>?</td><!-- e.g. '1st' (as in '1st place') -->
				<td><%=player.name%></td>
				<td><%=@win_count%></td>
				<td><%=@loss_count%></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>

<h2><%= pluralize(@tournament.matches.count, 'Match')%></h2>
<ul>
    <%= render @tournament.matches %> 
</ul>
