<div class='col-md-offset-3 col-md-6'>

    <h1>Challenge A Player!</h1>
    <br/>
    <% if @match %>
            <% if !@users_selected %>
              <%= form_tag(new_match_path, method: :get) do %>
                <% Contest.joins(players: :user).where(id: @match.manager.id).select("Users.id", "Users.username" ).distinct.each do |n|  %> 
                  <%= check_box_tag "match[user_ids][#{n.id}", 1, false %>
                  <%= label_tag "match[user_ids][#{n.id}", "#{n.username}" %>
                  <br/>

                <% end %>
		<%= hidden_field_tag("match[contest_id]", @match.manager.id) %>
                <%= submit_tag("Pick Users") %>
              <% end %>
            <% else %>
	    <%= form_for @match do |f| %>
		<%= render 'shared/error_messages', object: @match %>
		<%= render 'fields', f: f %>
		<%= hidden_field_tag("match[contest_id]", @match.manager.id) %>

		<%= f.submit 'Challenge!', class: 'btn btn-primary' %>
            <% end %>
          <% end %>
    <% else %>
	<h4> Pick a Contest to have a challenge in</h4>
          <%= form_tag(new_match_path, method: :get) do  %>
          <%= select("match", "contest_id", Contest.all.collect {|p| [ p.name, p.id ] }, {prompt: 'Select Contest'},{onchange: 'this.form.submit()'}) %>
          <% end %>
    <% end %>

</div>
